<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="./csss/style.css">
</head>
<body>
    <!--------- HEADER S--------->
    <header>
        <nav>
            <div class="logo-search">
                <img href="/home" src="./LOGO/ld white.png" class="logos">
                <div class="search-box">
                    <input type="search" placeholder="Search Here...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <ul>
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/bcollection">Books</a></li>
                <!--<li><a href="ebcollection.html">E-Books</a></li>-->

            </ul>
        </nav>
    </header>
    <!--------- HEADER E--------->

        <!--------- SIDE MENU ROW S--------->
        <section class="hero">
            
            <div class="side-bar">
                <h4><i class="fa-solid fa-bars"> </i>USER</h4>
                <ul>
                    <li>
                        <i class="fa-solid"></i>
                        <a href="/profile">My Profile</a>
                    </li>
                    <li>
                        <i class="fa-solid"></i>
                        <a href="myborrow.html">My Borrowed</a>
                    </li>
                    <li>
                        <i class="fa-solid"></i>
                        <a href="/myreserved">My Reserved</a>
                    </li>
                    <li>
                        <i class="fa-solid"></i>
                        <a href="/logout">Log Out</a>
                    </li>
                </ul>
            </div>

            <div class="content">
                <div class="div-text">
                    <span>Top Books</span>
                    <h1>COLLECTION OF THE WEEK</h1>
                    <p> Browse top books from our collection.</p>
                    <a href="/toppages" class="btn">BROWSE</a>
                </div>
            </div>
        </section>
        <!--------- SIDE MENU ROW E--------->

        <!--------- TOP BOOK ROW S--------->
        <section class="sec-2">

            <!--------- TOP BOOK S--------->
            <div class="side-bar">
                <div class="titile">
                    <h4> TOP BOOK </h4>
                </div>
                <div class="item">
                    <div class="div-img">
                        <img src="./imgs/bok1.jpg" alt="">
                    </div>
                    <div class="div-text">
                        <h4><a href="#">My cover book</a></h4>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="price">
                            <span>RESERVE</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--------- TOP BOOK E--------->

            <!--------- NEW BOOKS S--------->
            <div class="content">
                <div class="titile">
                    <h4>NEW BOOKS in COLLECTION</h4>
                    <a href="#">More</a>
                </div>

                <div class="all-items">

                    <div class="item">
                        <div class="div-img">
                            <img src="./imgs/bok5.jpg" alt="">
                        </div>
                        <div class="div-text">
                            <h4><a href="#">Harry</a></h4>
                            <p>Book.</p>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="price">
                                <span>Reserve</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="div-img">
                            <img src="./imgs/bok3.jpg" alt="">
                        </div>
                        <div class="div-text">
                            <h4><a href="#">Light Beyond</a></h4>
                            <p>The book</p>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="price">
                                <span>Reserve</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="div-img">
                            <img src="./imgs/bok4.jpg" alt="">
                        </div>
                        <div class="div-text">
                            <h4><a href="#">NORMAL PEOPLE</a></h4>
                            <p>SALLY ROONEY.</p>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="price">
                                <span>Reserve</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="div-img">
                            <img src="./imgs/bok5.jpg" alt="">
                        </div>
                        <div class="div-text">
                            <h4><a href="#">Harry Potter</a></h4>
                            <p>J.k Rowling</p>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="price">
                                <span>Reserve</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--------- NEW BOOKS E--------->
        </section>
        <!--------- TOP BOOK ROW E--------->

        <!--------- UPCOMING ROW S--------->
        <section class="sec-3">

            <!--------- UPCOMING SIDE S--------->
            <div class="side-bar">
                <div class="titile">
                    <h4>UPCOMING BOOKS</h4>
                    <a href="#">More</a>
                </div>

                <div class="boxs">
                    <div class="box">
                        <img src="./imgs/bok2.jpg" alt="">
                        <div class="div-text">
                            <h4>The Mind leader</h4>
                            <div class="stars">
                                <i class="fa-regular fa-star-half-stroke"></i>
                            </div>
                            <del>UNAVAILABLE</del>
                        </div>
                    </div>

                    <div class="box">
                        <img src="./imgs/bok8.jpeg" alt="">
                        <div class="div-text">
                            <h4>Lunar storm</h4>
                            <div class="stars">
                                <i class="fa-regular fa-star-half-stroke"></i>
                            </div>
                            <del>UNAVAILABLE</del>
                        </div>
                    </div>

                    <div class="box">
                        <img src="./imgs/bok9.jpeg" alt="">
                        <div class="div-text">
                            <h4>Crack Code</h4>
                            <div class="stars">
                                <i class="fa-regular fa-star-half-stroke"></i>
                            </div>
                            <del>UNAVAILABLE</del>
                        </div>
                    </div>

                    <div class="box">
                        <img src="./imgs/bok10.jpg" alt="">
                        <div class="div-text">
                            <h4>Sin Eater</h4>
                            <div class="stars">
                                <i class="fa-regular fa-star-half-stroke"></i>
                            </div>
                            <del>UNAVAILABLE</del>
                        </div>
                    </div>
                </div>
            </div>
            <!--------- UPCOMING SIDE E--------->

            <!--------- THE COLLECTION S--------->
            <div class="content">
                <div class="bg-sec">
                    <div class="div-text">
                        <h1>THE COLLECTION</h1>
                        <p>Browse from our extensive book collection</p>
                        <a href="/bcollection" class="btn">Browse</a>
                    </div>
                </div>

                <div class="all-items">

                    <div class="item">
                        <div class="div-img">
                            <img src="./imgs/bok11.jpg" alt="">
                        </div>
                        <div class="div-text">
                            <h4><a href="#">Fool Man</a></h4>
                            <p>by: Olivia Ribeiro</p>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="price">
                                <span>Available</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="div-img">
                            <img src="./imgs/bok12.jpg" alt="">
                        </div>
                        <div class="div-text">
                            <h4><a href="#">Harry Potter</a></h4>
                            <p>by: J.K Howling</p>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                            </div>
                            <div class="price">
                                <span>Available</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="div-img">
                            <img src="./imgs/bok13.jpg" alt="">
                        </div>
                        <div class="div-text">
                            <h4><a href="#">Follow Me</a></h4>
                            <p>by: Sue Rainsford</p>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                            </div>
                            <div class="price">
                                <span>Available</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="div-img">
                            <img src="./imgs/bok14.jpg" alt="">
                        </div>
                        <div class="div-text">
                            <h4><a href="#">The Swallow</a></h4>
                            <p>by: Liza Lutz</p>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                            </div>
                            <div class="price">
                                <del>OUT OF STOCK</del>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!--------- THE COLLECTION E--------->
        </section>
        <!--------- UPCOMING ROW E --------->

</body>
</html>