@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: 0.3s;
  text-decoration: none;
}


body{
    background-image: url('/imgs/logg.jpg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
section{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*-------------- PAGE HEADER START --------------*/
header{
    background-color: #688d03;
}
header nav{
    width: 85%;
    margin: 0 auto;
}

.logos {
    width: 90px;
    height: 60px;
    cursor: pointer;
}

header nav .logo-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #99999978;
}
header nav .logo-search .logo{
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}
header nav .logo-search .logo span{
    color: #30f100;
}
header nav .logo-search .search-box{
    width: 500px;
    height: 40px;
    position: relative;
    margin-left: 500px;
}
header nav .logo-search .search-box input{
    width: 100%;
    height: 100%;
    padding: 0 50px 0 12px;
    border-radius: 30px;
    outline: none;
    border: none;
}
header nav .logo-search .search-box i{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    text-align: center;
    line-height: 40px;
    border-left: 1px solid #99999978;
    cursor: pointer;
    color: #172856;
}
header nav .logo-search .icon a{
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}
header nav .logo-search .icon a:hover{
    color: #fccb3f;
}
header nav ul li{
    display: inline-block;
    padding: 18px 0;
    margin-right: 50px;
    position: relative;
}
header nav ul li a{
    color: #fff;
    text-transform: capitalize;
}
header nav ul li::after{
    position: absolute;
    content: '';
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 10px;
    background-color: #e9eaf0;
    clip-path: polygon(50% 40%, 0 100% , 100% 100%);
}
header nav ul li:hover::after,
header nav ul li.active::after{
    width: 12px;
}
/*-------------- PAGE HEADER END --------------*/


.container{
  display: flex;
  justify-content: left;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%);
}

.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background: #2ecc71;
}