*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    transition: 0.3s;
}
body{
    background-image: url('/imgs/logg.jpg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
section{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*-------------- PAGE HEADER START --------------*/
header{
    background-color: #688d03;
    margin-bottom: 30px;
}
header nav{
    width: 85%;
    margin: 0 auto;
}

.logos {
    width: 90px;
    height: 60px;
    cursor: pointer;
}

header nav .logo-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #99999978;
}
header nav .logo-search .logo{
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}
header nav .logo-search .logo span{
    color: #30f100;
}
header nav .logo-search .search-box{
    width: 500px;
    height: 40px;
    position: relative;
}
header nav .logo-search .search-box input{
    width: 100%;
    height: 100%;
    padding: 0 50px 0 12px;
    border-radius: 30px;
    outline: none;
    border: none;
}
header nav .logo-search .search-box i{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    text-align: center;
    line-height: 40px;
    border-left: 1px solid #99999978;
    cursor: pointer;
    color: #172856;
}
header nav .logo-search .icon a{
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}
header nav .logo-search .icon a:hover{
    color: #fccb3f;
}
header nav ul li{
    display: inline-block;
    padding: 18px 0;
    margin-right: 50px;
    position: relative;
}
header nav ul li a{
    color: #fff;
    text-transform: capitalize;
}
header nav ul li::after{
    position: absolute;
    content: '';
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 10px;
    background-color: #e9eaf0;
    clip-path: polygon(50% 40%, 0 100% , 100% 100%);
}
header nav ul li:hover::after,
header nav ul li.active::after{
    width: 12px;
}
/*-------------- PAGE HEADER END --------------*/

/*-------------- SIDE MENU START --------------*/
.hero .side-bar{
    overflow: hidden;
    width: 25%;
    background-color: #fff;
    border-radius: 10px;
}
.hero .side-bar h4{
    padding: 20px;
    background-color: #ffa741;
    color: #172856;
    font-size: 18px;
}
.hero .side-bar i{
    margin-right: 10px;
}
.hero .side-bar ul li{
    padding: 17px 20px;
    color: #172856;
    border-bottom: 1px solid #e9eaf0;
    cursor: pointer;
}
.hero .side-bar ul li:hover{
    background-color: #fccb3f;
}
.hero .side-bar ul li a{
    color: #172856;
}
/*-------------- SIDE MENU END --------------*/

/*-------------- BORROWED COLLECTION START --------------*/
.sec-2 .side-bar .item{
    padding: 20px;
}
.sec-2 .side-bar .item .div-text h4{
    margin-bottom: 18px;
}
.content {
    position: absolute;
    top: 64.5%;
    transform: translateY(-50%);
    left: 400px;
    max-width: 23cm;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
.titile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9eaf0;
}
.titile h4{
    color: #172856;
    text-transform: uppercase;
    padding: 15px 20px;
}
.titile a{
    margin-right: 20px;
    color: #ffa741;
    font-weight: bold;
}
.titile a:hover{
    text-decoration: underline;
}
.container {
    max-width: 100%;
    margin: 30px auto;
    padding: 0 10px; 
    margin-right: 10px;
}
.order-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}
.order-item img {
    width: 100px;
    border-radius: 5px;
    margin-right: 15px;
}
.item-info {
    flex: 1;
}
.item-name {
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
}
.item-description {
    margin-top: 10px;
    color: #777;
}
.order-status {
    margin-top: 10px;
    color: #333;
}
/*-------------- BORROWED COLLECTION END --------------*/